body {
        font-family: "Kanit", sans-serif;
        font-weight: 400;
        font-style: normal;
}

.center {
       text-align: center;
}

#footer {
       background: #777;
       text_align: center;
       align-self: center;
       margin: auto;
}
#header {
       background: #e60000;
       color: white;
       text-align: center;
       margin: 7px;
}
#body {
       /* Nothing here */
}
