.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  background: #00abf0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}
